@charset "UTF-8";
body {
  margin: 0;
}

/******* Bloc INDEX *******/
.header {
  display: flex;
  height: 63px;
  justify-content: center;
  align-items: center;
}

/******* Éléments INDEX *******/
.header__logo {
  width: 197px;
  height: 36px;
  background-color: white;
}

/******* Bloc localisation *******/
.localisation {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
  gap: 17px;
  font-family: "Roboto", sans-serif;
}

/******* Bloc RÉSERVATION *******/
.reservation-titre {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #F6F6F6;
  padding: 40px;
}
.reservation-titre p {
  color: #353535;
  font-size: 18px;
  font-weight: 300;
}

.reservation-titre__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  background: var(--Button-Gradient, linear-gradient(180deg, #ff79da -11.44%, #9356DC 105.93%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: white;
  text-decoration: none;
}

/******* Bloc FONCTIONNEMENT *******/
.fonctionnement {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 30px;
}

.fonctionnement-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fonctionnement__titre {
  font-size: 24px;
  font-weight: 700;
}

.fonctionnement__button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  background-color: #F6F6F6;
  width: 322.486px;
  height: 72.379px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  font-size: 16px;
  color: black;
  font-weight: 500;
}

.elipse {
  margin: 0;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  background-color: #9356DC;
  color: white;
  text-align: center;
}

/******* Bloc RESTAURANTS *******/
.restaurants {
  display: flex;
  flex-direction: column;
  gap: 18px;
  font-family: "Roboto", sans-serif;
  background-color: #F6F6F6;
  padding: 20px;
  margin-bottom: 20px;
}

.restaurants__titre {
  font-size: 24px;
  font-weight: 700;
}

.restaurants__card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: center;
  background-color: white;
  border-radius: 20px;
  text-decoration: none;
}

.restaurants__img {
  width: 346px;
  height: 231px;
  object-fit: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.restaurants__card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.card__title {
  margin-bottom: 5px;
  margin-top: 0;
  color: black;
  font-weight: 700;
}

.card__subtitle {
  margin: 0;
  color: #353535;
  font-weight: 300;
}

.restaurants__heart {
  font-size: 20px;
  height: 40px;
}

.nouveau-title {
  position: absolute;
  right: 0;
  transform: translate(-25%, 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-decoration: none;
  color: #008766;
  background-color: #99E2D0;
  font-size: 13px;
  width: 80px;
  height: 29px;
  border-radius: 3px;
}

/******* Bloc FOOTER *******/

/*# sourceMappingURL=style.css.map */
