@charset "UTF-8";
body {
  margin: 0;
}

/******* Bloc HEADER *******/
.header {
  position: relative;
  display: flex;
  height: 63px;
  justify-content: center;
  align-items: center;
}
.header a {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
  font-size: 30px;
  text-decoration: none;
}
.header .header__logo {
  width: 197px;
  height: 36px;
  background-color: white;
}

/******* Éléments HEADER *******/
@media (min-width: 1024px) {
  .header {
    height: 96px;
  }
}
/******* Bloc FOOTER *******/
.footer {
  font-family: "Roboto", sans-serif;
  background-color: #353535;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 22px;
  font-size: 16px;
}
.footer .footer__img {
  display: flex;
  width: 139px;
  height: 27px;
}
.footer .footer__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer .footer__icone {
  display: flex;
  gap: 7px;
}

/******* Media queries *******/
@media (min-width: 1024px) {
  .footer {
    flex-direction: row-reverse;
    padding: 30px 25px;
    align-items: flex-end;
    gap: 16px;
    padding: 30px 25px;
    height: 114px;
  }
  .footer .footer__content {
    flex-direction: row;
  }
  .footer .footer__content a {
    width: 168px;
  }
  .footer__img {
    margin-right: 25px;
    justify-content: center;
    align-items: center;
  }
}
/******* Variables *******/
/******* Loader *******/
.loader {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  opacity: 1;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: animLoader 0.1s 2s forwards;
}
.loader .bar {
  display: inline-block;
  width: 3px;
  height: 50px;
  background-color: black;
  border-radius: 10px;
  animation: scale-up4 1s linear infinite;
}
.loader .bar:nth-child(2) {
  height: 35px;
  margin: 0 5px;
  animation-delay: 0.25s;
}
.loader .bar:nth-child(3) {
  animation-delay: 0.5s;
}
@keyframes scale-up4 {
  20% {
    background-color: black;
    transform: scaleY(1.5);
  }
  40% {
    transform: scaleY(1);
  }
}

header, main, footer {
  opacity: 0.1;
  animation: bodyLoader 0.1s 2s forwards;
}

@keyframes bodyLoader {
  to {
    opacity: 1;
  }
}
@keyframes animLoader {
  to {
    opacity: 0;
  }
}
/******* Bloc localisation *******/
.localisation {
  font-family: "Roboto", sans-serif;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
  gap: 17px;
}

/******* Bloc RÉSERVATION *******/
.reservation {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #F6F6F6;
  padding: 30px;
}
.reservation p {
  color: #353535;
  font-weight: 300;
}
.reservation .button {
  font-family: "Roboto", sans-serif;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  background: var(--Button-Gradient, linear-gradient(180deg, #ff79da -11.44%, #9356DC 105.93%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: white;
  text-decoration: none;
  font-size: 16px;
  opacity: 1;
  transition: opacity 0.5s ease;
}
.reservation .button:hover {
  opacity: 0.85;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

/******* Bloc FONCTIONNEMENT *******/
.fonctionnement {
  font-family: "Roboto", sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
.fonctionnement__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.fonctionnement__titre {
  margin: 0;
  font-size: 24px;
  width: 275px;
  height: 31px;
}
.fonctionnement__group {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.fonctionnement__button {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fonctionnement__button-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  background-color: #F6F6F6;
  width: 322.486px;
  height: 72.379px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  font-size: 16px;
  color: black;
  font-weight: 500;
}
.fonctionnement__elipse {
  margin: 0;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  background-color: #9356DC;
  color: white;
  text-align: center;
}

/******* Bloc RESTAURANTS *******/
.restaurants {
  font-family: "Roboto", sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  background-color: #F6F6F6;
  padding-top: 60px;
  padding-bottom: 60px;
}
.restaurants__container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.restaurants__titre {
  margin: 0;
  font-weight: 700;
}
.restaurants__frame {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.restaurants .frame-content {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.restaurants .card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: center;
  background-color: white;
  border-radius: 20px;
  text-decoration: none;
}
.restaurants .card__img {
  width: 346px;
  height: 231px;
  object-fit: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.restaurants .card__nouveau-title {
  position: absolute;
  right: 15px;
  top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-decoration: none;
  color: #008766;
  background-color: #99E2D0;
  font-size: 13px;
  width: 80px;
  height: 29px;
  border-radius: 3px;
}
.restaurants .card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 60px;
}
.restaurants .card__title {
  margin-bottom: 5px;
  margin-top: 0;
  color: black;
  font-weight: 700;
}
.restaurants .card__subtitle {
  margin: 0;
  color: #353535;
  font-weight: 300;
}
.restaurants .card__heart {
  position: relative;
  font-size: 20px;
  top: -6px;
  left: -5px;
  padding: 10px;
}
.restaurants .card__heart .fa-solid {
  opacity: 0;
  transition: opacity 0.5s;
}
.restaurants .card__heart:hover .fa-solid {
  opacity: 1;
  z-index: 1;
  background: -webkit-linear-gradient(90deg, #ff79da -11.44%, #9356DC 105.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurants .card__heart i {
  position: absolute;
  top: 0;
  left: 0;
}
.restaurants .card__text {
  padding-left: 10px;
}

/******* Media queries *******/
@media (min-width: 1024px) {
  .reservation h1 {
    font-size: 40px;
  }
  .reservation p {
    font-size: 24px;
  }
  .fonctionnement {
    width: 100%;
  }
  .fonctionnement__container {
    gap: 25px;
  }
  .fonctionnement__group {
    flex-direction: row;
  }
  .restaurants {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .restaurants__frame {
    display: flex;
    gap: 50px;
  }
  .restaurants .frame-content {
    flex-direction: row;
    gap: 100px;
  }
  .restaurants .card {
    width: 490px;
  }
  .restaurants .card__img {
    width: 490px;
  }
}
/******* Variables *******/
/******* Bloc MENU IMAGE BACKGROUND *******/
.menu-wrapper-palette-du-gout {
  position: relative;
}

.menu-wrapper-delice-des-sens {
  position: relative;
}

.menu-wrapper-note-enchantée {
  position: relative;
}

.menu-wrapper-a-la-française {
  position: relative;
}

/******* Bloc MENU *******/
.menu-wrapper-palette-du-gout > .menu-image-palette-du-gout {
  background-image: url("../../Images et textes Ohmyfood/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.menu-image-palette-du-gout {
  width: 100%;
  aspect-ratio: 1/1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}

.menu-wrapper-note-enchantée > .menu-image-la-note-enchantée {
  background-image: url("../../Images et textes Ohmyfood/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.menu-image-la-note-enchantée {
  width: 100%;
  aspect-ratio: 1/1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-position-y: -140px;
}

.menu-wrapper-delice-des-sens > .menu-image-le-delice-des-sens {
  background-image: url("../../Images et textes Ohmyfood/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.menu-image-le-delice-des-sens {
  width: 100%;
  aspect-ratio: 1/1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}

.menu-wrapper-a-la-française > .menu-image-a-la-française {
  background-image: url("../../Images et textes Ohmyfood/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.menu-image-a-la-française {
  width: 100%;
  aspect-ratio: 1/1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  background-position-y: -30px;
}

.menu-container {
  margin-top: -243px;
}

.menu {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #f6f6f6;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  gap: 40px;
  padding-bottom: 40px;
}
.menu__titre-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__titre {
  font-family: "Shrikhand", serif;
  font-size: 28px;
  font-weight: 400;
}
.menu__heart-titre {
  font-size: 20px;
  height: 21px;
}
.menu .button {
  font-family: "Roboto", sans-serif;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  background: var(--Button-Gradient, linear-gradient(180deg, #ff79da -11.44%, #9356DC 105.93%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: white;
  text-decoration: none;
  font-size: 16px;
  opacity: 1;
  transition: opacity 0.5s ease;
}
.menu .button:hover {
  opacity: 0.85;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

.menu__section {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu__section .menu__section__titre {
  margin: 0px;
  font-size: 16px;
  text-transform: uppercase;
}
.menu__section .menu__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  background-color: white;
  padding: 15px;
  box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.1);
}
.menu__section .menu__plate p {
  margin: 0;
}
.menu__section .menu__price p {
  margin-bottom: 0%;
  font-weight: 700;
}
.menu__section .card__title {
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: 500;
}
.menu__section .card__subtitle {
  text-overflow: ellipsis;
  font-size: 15.043px;
  font-weight: 300;
}
.menu__section hr {
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  margin: 0;
  border: 0;
}

@media (min-width: 1024px) {
  .menu-container {
    display: flex;
    justify-content: center;
    margin-top: -80px;
  }
  .menu-container .menu {
    width: 1055px;
    align-items: center;
  }
  .menu__section {
    width: 604px;
  }
  .menu__titre-content {
    gap: 40px;
  }
  .menu-image-palette-du-gout {
    aspect-ratio: 20/5;
    background-size: cover;
    background-position-y: -400px;
  }
  .menu-image-la-note-enchantée {
    aspect-ratio: 20/5;
    background-size: cover;
    background-position-y: -400px;
  }
  .menu-image-le-delice-des-sens {
    aspect-ratio: 20/5;
    background-size: cover;
    background-position-y: -600px;
  }
  .menu-image-a-la-française {
    aspect-ratio: 20/5;
    background-size: cover;
    background-position-y: -400px;
  }
}

/*# sourceMappingURL=style.css.map */
