/******* Bloc HEADER *******/

.header {
    display:flex;
    height: 63px;
    justify-content: center;
    align-items: center;
     a {
        text-decoration: none;
     }
     

}
/******* Éléments HEADER *******/

.header__logo {
   width: 197px;
   height: 36px;
   background-color: white;
}






