/******* Bloc INDEX *******/

.header {
    display:flex;
    height: 63px;
    justify-content: center;
    align-items: center;  
}
/******* Éléments INDEX *******/

.header__logo {
   width: 197px;
   height: 36px;
   background-color: white;
}






